In [ ]:
# ITTB: https://github.com/UniversalDependencies/UD_Latin-ITTB/tree/master
# test file: https://github.com/UniversalDependencies/UD_Latin-ITTB/blob/master/la_ittb-ud-test.conllu

In [6]:
import pandas as pd
from conll_df import conll_df
import random

In [7]:
path = "la_ittb-ud-test.conllu"
df = conll_df(path, file_index=False)
df = df.drop(["p","g","f","reference","type","Person","Reflex","Disambiguation","Mood","Case","Type","Aspect","Gender","Tense","Number","Polarity","Voice","Poss","Degree","Lilaflcat"], axis=1)
df.rename(columns={"w": "token"}, inplace=True)
df.rename(columns={"l": "lemma"}, inplace=True)
df.rename(columns={"x": "upos"}, inplace=True)
df.head(20)

        token    lemma   upos
s i
1 1       non      non   PART
  2     autem    autem   PART
  3         a       ab    ADP
  4    seipso  seipsum   PRON
  5         :        :  PUNCT
  6      quia     quia  SCONJ
  7       sic      sic    ADV
  8      idem     idem    DET
  9     esset      sum    AUX
  10    agens    agens   NOUN
  11       et       et  CCONJ
  12  patiens  patiens    ADJ
  13        ;        ;  PUNCT
  14    esset      sum    AUX
  15      que      que  CCONJ
  16  aliquod   aliqui    DET
  17    agens    agens   NOUN
  18     quod      qui   PRON
  19      non      non   PART
  20     suam     suus    DET

In [8]:
# i now want to reset the index columns and add them as normal columns
df_reset = df.reset_index()
df_reset

          s  i         token     lemma   upos
0         1  1           non       non   PART
1         1  2         autem     autem   PART
2         1  3             a        ab    ADP
3         1  4        seipso   seipsum   PRON
4         1  5             :         :  PUNCT
...     ... ..           ...       ...    ...
29837  2101  4       habitus   habitus   NOUN
29838  2101  5           per       per    ADP
29839  2101  6   operationem  operatio   NOUN
29840  2101  7  perficiuntur  perficio   VERB
29841  2101  8             ;         ;  PUNCT

[29842 rows x 5 columns]

In [10]:
# the mapped_upos_df contains 11851 sentences 
# i want to extract 300 random sentences from this

random.seed(4)

# Generate 300 different random numbers and order them
random_sentences = sorted(random.sample(range(1, 2101), 300))
print(random_sentences)

# i now want to extract these sentence elements from the df
random_sent_df = df_reset[df_reset["s"].isin(random_sentences)]

random_sent_df

[7, 14, 20, 23, 30, 39, 44, 54, 75, 82, 83, 95, 106, 109, 130, 141, 146, 151, 152, 166, 168, 170, 176, 178, 183, 184, 190, 211, 217, 219, 227, 242, 244, 248, 253, 255, 273, 275, 305, 307, 311, 315, 316, 317, 319, 324, 327, 333, 339, 349, 356, 364, 366, 370, 381, 383, 390, 398, 404, 414, 423, 435, 454, 463, 466, 469, 475, 479, 485, 496, 501, 523, 546, 559, 569, 577, 581, 590, 595, 612, 613, 627, 635, 643, 650, 651, 661, 664, 667, 676, 678, 686, 691, 692, 695, 705, 708, 716, 723, 728, 729, 736, 739, 748, 753, 769, 784, 785, 793, 800, 802, 803, 809, 814, 821, 827, 831, 842, 849, 852, 853, 864, 866, 879, 882, 884, 896, 898, 906, 910, 911, 938, 939, 949, 956, 958, 967, 973, 991, 993, 1006, 1014, 1019, 1020, 1021, 1025, 1031, 1038, 1042, 1053, 1055, 1060, 1064, 1067, 1072, 1073, 1099, 1104, 1114, 1132, 1134, 1137, 1147, 1148, 1149, 1169, 1171, 1181, 1184, 1186, 1187, 1190, 1192, 1196, 1197, 1200, 1202, 1214, 1217, 1230, 1232, 1239, 1241, 1243, 1250, 1252, 1270, 1275, 1277, 1278, 1284, 1289, 1291, 1314, 1317, 1318, 1323, 1326, 1332, 1338, 1339, 1340, 1351, 1355, 1357, 1358, 1379, 1383, 1387, 1393, 1405, 1421, 1436, 1458, 1462, 1463, 1471, 1476, 1484, 1486, 1489, 1496, 1499, 1523, 1524, 1526, 1561, 1562, 1564, 1588, 1589, 1592, 1600, 1605, 1607, 1618, 1622, 1623, 1639, 1645, 1649, 1651, 1654, 1664, 1677, 1682, 1685, 1691, 1696, 1704, 1709, 1721, 1726, 1731, 1736, 1737, 1753, 1762, 1766, 1776, 1778, 1786, 1798, 1800, 1801, 1806, 1807, 1811, 1817, 1820, 1849, 1859, 1863, 1881, 1896, 1903, 1913, 1931, 1932, 1935, 1940, 1957, 1961, 1962, 1963, 1984, 1993, 1994, 2003, 2007, 2010, 2015, 2025, 2029, 2034, 2043, 2073, 2076, 2083, 2100]

          s  i          token      lemma   upos
72        7  1             si         si  SCONJ
73        7  2         igitur     igitur    ADV
74        7  3   intelligeret  intellego   VERB
75        7  4            per        per    ADP
76        7  5        aliquam     aliqui    DET
...     ... ..            ...        ...    ...
29829  2100  5            est        sum    AUX
29830  2100  6       operatio   operatio   NOUN
29831  2100  7  perfectissima  perfectus    ADJ
29832  2100  8           eius         is   PRON
29833  2100  9              :          :  PUNCT

[4422 rows x 5 columns]

In [11]:
with open("data/ittb-random-300.txt","w") as outfile:
    for index,row in random_sent_df.iterrows():
        out = row["token"]+"\t"+row["upos"]+"\n"
        outfile.write(out)