In [ ]:
# LLCT: https://github.com/UniversalDependencies/UD_Latin-LLCT
# test set: https://github.com/UniversalDependencies/UD_Latin-LLCT/blob/master/la_llct-ud-test.conllu

In [6]:
import pandas as pd
from conll_df import conll_df
import random

In [7]:
path = "la_llct-ud-test.conllu"
df = conll_df(path, file_index=False)
df = df.drop(["p","g","f","reference","type","Person","Reflex","Mood","Case","Type","Aspect","Gender","Tense","Number","Polarity","Voice","Poss","Degree"], axis=1)
df.rename(columns={"w": "token"}, inplace=True)
df.rename(columns={"l": "lemma"}, inplace=True)
df.rename(columns={"x": "upos"}, inplace=True)
df

               token       lemma   upos
s   i
1   1              +           +  PUNCT
    2             In          in    ADP
    3            Dei        Deus  PROPN
    4   omnipotentis  omnipotens    ADJ
    5         nomine       nomen   NOUN
...              ...         ...    ...
884 6       traditam       trado   VERB
    7       conplevi     compleo   VERB
    8             et          et  CCONJ
    9           dedi          do   VERB
    10             .           .  PUNCT

[24080 rows x 3 columns]

In [8]:
# i now want to reset the index columns and add them as normal columns
df_reset = df.reset_index()
df_reset

         s   i         token       lemma   upos
0        1   1             +           +  PUNCT
1        1   2            In          in    ADP
2        1   3           Dei        Deus  PROPN
3        1   4  omnipotentis  omnipotens    ADJ
4        1   5        nomine       nomen   NOUN
...    ...  ..           ...         ...    ...
24075  884   6      traditam       trado   VERB
24076  884   7      conplevi     compleo   VERB
24077  884   8            et          et  CCONJ
24078  884   9          dedi          do   VERB
24079  884  10             .           .  PUNCT

[24080 rows x 5 columns]

In [10]:
# the mapped_upos_df contains 11851 sentences 
# i want to extract 300 random sentences from this

random.seed(4)

# Generate 300 different random numbers and order them
random_sentences = sorted(random.sample(range(1, 884), 300))
print(random_sentences)

# i now want to extract these sentence elements from the df
random_sent_df = df_reset[df_reset["s"].isin(random_sentences)]

random_sent_df

[4, 8, 10, 11, 14, 19, 21, 27, 28, 33, 36, 37, 38, 42, 43, 44, 45, 46, 48, 53, 55, 57, 61, 62, 64, 69, 77, 80, 81, 82, 84, 85, 88, 89, 92, 93, 96, 98, 100, 104, 106, 109, 116, 117, 119, 120, 126, 131, 140, 143, 146, 149, 154, 157, 159, 161, 163, 166, 169, 170, 172, 173, 174, 177, 182, 183, 189, 193, 196, 197, 199, 200, 201, 204, 206, 207, 208, 211, 213, 214, 216, 217, 220, 221, 224, 225, 228, 235, 238, 239, 240, 242, 244, 248, 249, 254, 255, 256, 257, 260, 261, 264, 266, 267, 268, 269, 275, 276, 279, 283, 284, 285, 287, 288, 293, 296, 297, 298, 299, 300, 301, 304, 305, 308, 311, 313, 318, 319, 320, 323, 329, 330, 331, 332, 333, 335, 339, 340, 345, 346, 347, 352, 356, 365, 366, 369, 372, 373, 374, 382, 391, 397, 398, 400, 402, 405, 406, 410, 412, 413, 414, 420, 421, 423, 424, 428, 431, 432, 434, 435, 439, 441, 442, 447, 450, 451, 452, 455, 463, 465, 466, 471, 474, 476, 483, 484, 485, 490, 491, 499, 501, 503, 504, 507, 509, 511, 519, 521, 532, 533, 536, 539, 540, 541, 542, 548, 550, 557, 560, 561, 563, 564, 572, 575, 576, 579, 583, 584, 586, 587, 597, 603, 610, 614, 621, 622, 624, 631, 633, 635, 636, 642, 643, 645, 648, 650, 651, 654, 657, 663, 664, 668, 669, 685, 688, 690, 692, 694, 697, 711, 715, 718, 722, 723, 724, 726, 728, 732, 735, 739, 742, 743, 748, 750, 751, 753, 758, 759, 765, 767, 769, 770, 773, 777, 784, 799, 801, 814, 817, 818, 820, 826, 827, 832, 836, 838, 841, 844, 845, 847, 849, 856, 867, 868, 869, 870, 871, 875, 879, 880]

         s  i       token      lemma   upos
199      4  1        nisi       nisi  CCONJ
200      4  2      tantum     tantum    ADV
201      4  3         pro        pro    ADP
202      4  4        omni      omnis    DET
203      4  5      censum     census   NOUN
...    ... ..         ...        ...    ...
24025  880  4    notarius   notarius   NOUN
24026  880  5          et         et  CCONJ
24027  880  6   schabinus   scabinus   NOUN
24028  880  7  subscripsi  subscribo   VERB
24029  880  8           .          .  PUNCT

[8238 rows x 5 columns]

In [11]:
with open("data/llct-random-300.txt","w") as outfile:
    for index,row in random_sent_df.iterrows():
        out = row["token"]+"\t"+row["upos"]+"\n"
        outfile.write(out)